<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/index.css">
	<link rel="icon" type="image/png" href="images/logo_ccl.jpg">
	<title>Lettre de Motivation Ugo Insalaco</title>
	<link href = '\public\vendor\bootstrap\js\bootstrap.min.js'>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.sound.min.js"></script>
</head>
<body>
	<div style="background-image: url('images/logo_ccl.png');
	background-repeat: no-repeat; background-color: #FF8049">
		<div id = 'Lettre'>
		Lettre de motivation Chest :<br><br>
		<img id = 'MaTete' src = 'images\matete.jpg'> <br><br>
		Salut, moi c'est Chest j'ai participé au mini projet écran <br>
		avec Khapp et Hectow et j'ai vraiment kiffé brasser pour <br>
		faire en sorte que ce mini projet soit une réussite (j'ai passé des journées <br>
		à essayer de faire marcher cette p***** de page web et sa base de données pour que les images <br>
		s'affichent :) )En tout cas j'ai adoré cette expérience et j'aimerais encore plus pouvoir participer <br>
		à l'organisation du challenge de l'année prochaine en étant un lourd brasseur Challenger. <br><br>
		Etant donné que je suis déjà en mandat à Éclair et que je souhaite aussi m'impliquer <br>
		énormément pour cette asso que j'adore, j'aimerais être VP Digit au Challenge ce qui <br>
		me permettrait de rendre mon double brassage un peu plus simple et aussi de faire <br>
		un lien étroit entre les deux assos. <br>
		Mais si ce poste est déjà occupé je suis aussi <br>
		très interéssé par le poste de log int (parceque je suis un peu maniac et que j'aime bien <br>
		quand tout est à sa place, bien cadré), ou encore le poste de Trez <br><br>
		En tout cas j'espère que tout se passe bien pour tous les membres du Challenge, <br>
		je vous soutiens à fond pendant cette période difficile et je suis avec vous du tout coeur. <br>
		Du coup je vous ai fait un petit jeu pour passer le temps et que le meilleur score gagne :) <br><br>
		Bisous. <br><br>
		ps: appuyer sur espace pour sauter et ctrl gauche pour se baisser.
		<div id = 'Jeu'>
		<div>
		</div>	
		<br><br>
	</div>
	<script src = 'js\index.js'></script>
</body>
</html>