<div id="form_container">

	<div id="error_message"></div>

	<div class="container">
		<label for="uname"><b>Username</b></label>
		<input type="text" placeholder="Enter Username" id="uname" required>

		<label for="psw"><b>Password</b></label>
		<input type="password" placeholder="Enter Password" id="psw" required>

		<button type="submit" id="login_button" onclick="send_form()">Login</button>
	</div>
</div>

</form>

<link href="css/login_admin.css" rel="stylesheet">
<script src="js/login_admin.js"></script>