<link href="css/visualisation.css" rel="stylesheet">

<div class="container-fluid">
	<div class="row">
		<div class='col'>
			<img class='center' id="phone_img" src="">
		</div>
		<div class='col'>
			<div class='card center'>
				<div class="card-header">
					<h1 id="nom"></h1>
				</div>
				<div class="card-body">
					<p id="prix"></p>
					<p id="dimension"></p>
					<p id="poids"></p>
					<p id="diagonale_ecran"></p>
					<p id="definition_ecran"></p>
					<p id="DPI"></p>
					<p id="part_ecran"></p>
					<p id="processeur"></p>
					<p id="nombre_coeurs"></p>
					<p id="RAM"></p>
					<p id="memoire_interne"></p>
					<p id="batterie"></p>

					<a id="buy_url" href="#" class="btn btn-primary center">Acheter ce telephone</a>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-sm-10 mx-auto col">
			<div id="leagueselect">
				<br>
				<fieldset class="b-form-group from-group">
					<div role="group">
						<a href="#" id="1" class="btn active btn-outline-primary" onclick="load_data('1')">1</a>
						<a href="#" id='2' class="btn btn-outline-primary" onclick="load_data('2')">2</a>
						<a href="#" id='3' class="btn btn-outline-primary" onclick="load_data('3')">3</a>
					</div>
				</fieldset>
			</div>

		</div>
	</div>
</div>

<script src="js/visualisation.js"></script>